{% extends 'base.html' %}
{% block site_heading %}FC BARCELONA - PLAYERS{% endblock %}
{% block content %}
<!-- GOALKEEPERS -->
<h3 id="keepers" class="mb-3 text-center" style="color:#004D98;">Goalkeepers</h3>
<div class="row justify-content-center row-cols-1 row-cols-md-4 g-4 mb-4">
    {% for player in keepers %}
    <div class="col d-flex justify-content-center">
        <a href="{% url 'person_detail' pk=player.person.pk %}" class="text-decoration-none" style="width:100%;">
        <div class="card card-barca border-0 shadow position-relative" style="width: 100%; max-width: 350px;">
            <img src="{{ player.person.picture.url }}" class="card-img-top" style="object-fit:cover;height:350px;filter:brightness(0.78);">
            <div class="card-img-overlay d-flex align-items-end justify-content-center">
                <h5 class="card-title text-white fw-bold mb-3" style="text-shadow:1px 3px 9px #222;">{{ player.person.name }} {{ player.person.surname }}</h5>
            </div>
        </div>
        </a>
    </div>
    {% empty %}
    <p class="ms-3">No keepers found.</p>
    {% endfor %}
</div>

<!-- DEFENDERS -->
<h3 id="defenders" class="mt-5 mb-3 text-center" style="color:#A50044;">Defenders</h3>
<div class="row justify-content-center row-cols-1 row-cols-md-4 g-4 mb-4">
    {% for player in defenders %}
    <div class="col d-flex justify-content-center">
        <a href="{% url 'person_detail' pk=player.person.pk %}" class="text-decoration-none" style="width:100%;">
        <div class="card card-barca border-0 shadow position-relative" style="width: 100%; max-width: 350px;">
            <img src="{{ player.person.picture.url }}" class="card-img-top" style="object-fit:cover;height:350px;filter:brightness(0.78);">
            <div class="card-img-overlay d-flex align-items-end justify-content-center">
                <h5 class="card-title text-white fw-bold mb-3" style="text-shadow:1px 3px 9px #222;">{{ player.person.name }} {{ player.person.surname }}</h5>
            </div>
        </div>
        </a>
    </div>
    {% empty %}
    <p class="ms-3">No defenders found.</p>
    {% endfor %}
</div>

<!-- MIDFIELDERS -->
<h3 id="midfielders" class="mt-5 mb-3 text-center" style="color:#004D98;">Midfielders</h3>
<div class="row justify-content-center row-cols-1 row-cols-md-4 g-4 mb-4">
    {% for player in midfielders %}
    <div class="col d-flex justify-content-center">
        <a href="#" class="text-decoration-none" style="width:100%;">
        <div class="card card-barca border-0 shadow position-relative" style="width: 100%; max-width: 350px;">
            <img src="{{ player.person.picture.url }}" class="card-img-top" style="object-fit:cover;height:350px;filter:brightness(0.78);">
            <div class="card-img-overlay d-flex align-items-end justify-content-center">
                <h5 class="card-title text-white fw-bold mb-3" style="text-shadow:1px 3px 9px #222;">{{ player.person.name }} {{ player.person.surname }}</h5>
            </div>
        </div>
        </a>
    </div>
    {% empty %}
    <p class="ms-3">No midfielders found.</p>
    {% endfor %}
</div>

<!-- FORWARDS -->
<h3 id="forwards" class="mt-5 mb-3 text-center" style="color:#A50044;">Forwards</h3>
<div class="row justify-content-center row-cols-1 row-cols-md-4 g-4 mb-4">
    {% for player in forwards %}
    <div class="col d-flex justify-content-center">
        <a href="{% url 'person_detail' pk=player.person.pk %}" class="text-decoration-none" style="width:100%;">
        <div class="card card-barca border-0 shadow position-relative" style="width: 100%; max-width: 350px;">
            <img src="{{ player.person.picture.url }}" class="card-img-top" style="object-fit:cover;height:350px;filter:brightness(0.78);">
            <div class="card-img-overlay d-flex align-items-end justify-content-center">
                <h5 class="card-title text-white fw-bold mb-3" style="text-shadow:1px 3px 9px #222;">{{ player.person.name }} {{ player.person.surname }}</h5>
            </div>
        </div>
        </a>
    </div>
    {% empty %}
    <p class="ms-3">No forwards found.</p>
    {% endfor %}
</div>
{% endblock %}